.task1-link, .task2-link {
    text-decoration: none;
    color: #808080;
    font-size: 30px;
}

.links {
    width: 200px;
    justify-self: center;
}

.task1-link:hover, .task1-link:focus, .task2-link:hover, .task2-link:focus {
    text-decoration: underline;
    color: green
}